<h2>名前</h2>

<table>
    <tr>
        <td>写真</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>名前</td>
        <td>{{getEmpDetail().jpnsName}}</td>
    </tr>
    <tr>
        <td>ふりがな</td>
        <td>{{getEmpDetail().jpnsKana}}</td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{getEmpDetail().romaName}}</td>
    </tr>
    <tr>
        <td>性別</td>
        <td [ngSwitch]="getEmpDetail().sex">
            <p *ngSwitchCase="0">男性</p>
            <p *ngSwitchCase="1">女性</p>
        </td>
        <td>生年月日</td>
        <td>{{getEmpDetail().birthDate}}</td>
    </tr>
    <tr>
        <td>住所</td>
        <td>{{getEmpDetail().postalCode}}</td>
        <td>{{getEmpDetail().address}}</td>
    </tr>
    <tr>
        <td>電話番号</td>
        <td>{{getEmpDetail().telNo}}</td>
    </tr>
    <tr>
        <td>メールアドレス</td>
        <td>{{getEmpDetail().mailAddress}}</td>
    </tr>
    <tr>
        <td>最終学歴</td>
        <td>{{getEmpDetail().finalEducation}} 
            <span [ngSwitch]="getEmpDetail().educationDivision">
                <p *ngSwitchCase="0">卒業</p>
                <p *ngSwitchCase="1">中退</p>
                <p *ngSwitchCase="2">在学中</p>
            </span>
        </td>
    </tr>
    <tr>
        <td>従業員ID</td>
        <td>{{getEmpDetail().employeeId}}</td>
    </tr>
    <tr>
        <td>入社年月日</td>
        <td>{{getEmpDetail().joinDate}}</td>
    </tr>
    <tr>
        <td>自社メールアドレス</td>
        <td>{{getEmpDetail().companyMailAddress}}</td>
    </tr>    
    <tr>
        <td>支店</td>
        <td [ngSwitch]="getEmpDetail().branchId">
            <span *ngFor="let branch of branchList">
                <p *ngSwitchCase="branch.id">{{branch.name}}</p>
            </span>
        </td>
        <td>部署</td>
        <td [ngSwitch]="getEmpDetail().departmentId">
            <span *ngFor="let department of departmentList">
                <p *ngSwitchCase="department.id">{{department.name}}</p>
            </span>
        </td>
    </tr>
</table>

<br />

<input type="button" value="編集" routerLink="/emp-update">
<input type="button" value="削除" (click)="goDelete()">
<input type="button" value="戻る" (click)="goList()">