<h2>名前</h2>

<table>
    <tr>
        <td>写真</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>名前</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>ふりがな</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>name</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>性別</td>
        <td>
            TODO
        </td>
        <td>生年月日</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>住所</td>
        <td>TODO</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>電話番号</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>メールアドレス</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>最終学歴</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>従業員ID</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>入社年月日</td>
        <td>TODO</td>
    </tr>
    <tr>
        <td>自社メールアドレス</td>
        <td>TODO</td>
    </tr>    
    <tr>
        <td>支店</td>
        <td>TODO</td>
        <td>部署</td>
        <td>TODO</td>
    </tr>
</table>

<br />

<input type="button" value="編集" routerLink="/emp-update">
<input type="button" value="削除" routerLink="/emp-list">
<input type="button" value="戻る" routerLink="/emp-list">