<h2>社員情報編集</h2>

<form [formGroup]="updForm" (ngSubmit)="onSubmit()">
    <table>
        <tr>
            <td>
                <p>名前</p>
                <p class="explanation">苗字と名前の間に半角スペースを入力して下さい。<br>例：協会 太郎</p>
                <input type="text" formControlName="jpnsName">                
            </td>
            <td>
                <p>ふりがな</p>
                <p class="explanation">苗字と名前の間に半角スペースを入力して下さい。<br>例：きょうかい たろう</p>
                <input type="text" formControlName="jpnsKana">
            </td>
        </tr>
        <tr>
            <td>
                <p>name</p>
                <p class="explanation">苗字と名前の間に半角スペースを入力して下さい。<br>例：taro kyokai</p>
                <input type="text" formControlName="romaName">
            </td>
        </tr>
        <tr>
            <td>
                <p>性別</p>
                <label>
                    <input type="radio" value="0" formControlName="sex">男性
                </label>
                <label>
                    <input type="radio" value="1" formControlName="sex">女性
                </label>
            </td>
            <td>
                <p>生年月日</p>
                <p class="explanation">yyyy-MM-dd形式で入力して下さい。<br>例：0000-00-00</p>
                <input type="text" formControlName="birthDate">
            </td>
        </tr>
        <tr>
            <td>
                <p>郵便番号</p>
                <p class="explanation">yyyy-MM-dd形式で入力して下さい。<br>例：000-0000</p>
                <input type="text" formControlName="postalCode">
            </td>
            <td>
                <p>住所</p>
                <input type="text" formControlName="address">
            </td>
        </tr>
        <tr>
            <td>
                <p>電話番号</p>
                <p class="explanation">0000-0000-0000形式(-前後の桁数は変動化)で入力して下さい。</p>
                <input type="text" formControlName="telNo">
            </td>
            <td>
                <p>メールアドレス</p>
                <p>入力不可(後に変更可能)</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>最終学歴</p>
                <input type="text" formControlName="finalEducation">
            </td>
            <td>
                <select formControlName="educationDivision">
                    <option value="0">卒業</option>
                    <option value="1">中退</option>
                    <option value="2">在学中</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <p>従業員ID</p>
                <p>入力不可(後に変更可能)</p>
            </td>
            <td>
                <p>入社年月日</p>
                <p class="explanation">yyyy-MM-dd形式で入力して下さい。<br>例：0000-00-00</p>
                <input type="text" formControlName="joinDate">
            </td>
        </tr>
        <tr>
            <td>
                <p>自社メールアドレス</p>
                <input type="text" formControlName="companyMailAddress">
            </td>
            <td>
                <p>写真</p>
                <p>TODO</p>
            </td>        
        </tr>
        <tr>
            <td>
                <p>所属支店</p>
                <select formControlName="branchId">
                    <option *ngFor="let branch of branchList" 
                        [selected]="branchId == branch.id" 
                        [value]="branch.id">{{branch.name}}
                    </option>
                </select>
            </td>
            <td>
                <p>所属部署</p>
                <select formControlName="departmentId">
                    <option *ngFor="let department of departmentList" 
                        [selected]="departmentId == department.id" 
                        [value]="department.id">{{department.name}}
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <br />

    <input type="button" value="戻る" routerLink="/emp-detail">
    <input type="submit" value='登録'>
</form>