<h2>社員情報登録</h2>

<form [formGroup]="insForm" (ngSubmit)="onSubmit()">
    <table>
        <tr>
            <td>
                <p>名前</p>
                <input type="text" formControlName="jpnsName">
            </td>
            <td>
                <p>ふりがな</p>
                <input type="text" formControlName="jpnsKana">
            </td>
        </tr>
        <tr>
            <td>
                <p>name</p>
                <input type="text" formControlName="romaName">
            </td>
        </tr>
        <tr>
            <td>
                <p>性別</p>
                <label>
                    <input type="radio" value="0" formControlName="sex">男性
                </label>
                <label>
                    <input type="radio" value="1" formControlName="sex">女性
                </label>
            </td>
            <td>
                <p>生年月日</p>
                <input type="text" formControlName="birthDate">
            </td>
        </tr>
        <tr>
            <td>
                <p>郵便番号</p>
                <input type="text" formControlName="postalCode">
            </td>
            <td>
                <p>住所</p>
                <input type="text" formControlName="address">
            </td>
        </tr>
        <tr>
            <td>
                <p>電話番号</p>
                <input type="text" formControlName="telNo">
            </td>
            <td>
                <p>メールアドレス</p>
                <p>入力不可(後に変更可能)</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>最終学歴</p>
                <input type="text" formControlName="finalEducation">
            </td>
            <td>
                <select formControlName="division">
                    <option>卒業</option>
                    <option>中退</option>
                    <option>在学中</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <p>従業員ID</p>
                <p>入力不可(後に変更可能)</p>
            </td>
            <td>
                <p>入社年月日</p>
                <input type="text" formControlName="joinDate">
            </td>
        </tr>
        <tr>
            <td>
                <p>自社メールアドレス</p>
                <input type="text" formControlName="companyMailAddress">
            </td>
            <td>
                <p>写真</p>
                <p>TODO</p>
            </td>        
        </tr>
        <tr>
            <td>
                <p>所属支店</p>
                <select formControlName="branchId">
                    <option *ngFor="let branch of branchList" 
                        [selected]="branchId == branch.id" 
                        [value]="branch.id">{{branch.name}}
                    </option>
                </select>
            </td>
            <td>
                <p>所属部署</p>
                <select formControlName="departmentId">
                    <option *ngFor="let department of departmentList" 
                        [selected]="departmentId == department.id" 
                        [value]="department.id">{{department.name}}
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <br />

    <input type="button" value="戻る" routerLink="/emp-list">
    <input type="submit" value='登録'>
</form>