<input type="button" value="新規登録" routerLink="/emp-insert">

<h2>検索条件</h2>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <table>
        <tr>
            <th>
                名前
            </th>
            <th>
                出身地（都道府県単位）
            </th>
            <th>
                年齢
            </th>
            <th>
                最終学歴（区分）
            </th>
        </tr>
        <tr>
            <td>
                <input type="text" formControlName="jpnsName">
            </td>
            <td>
                <input type="text" formControlName="prefecture">
                <div *ngIf="prefecture.invalid" class="error">
                    出身地は都道府県単位で入力して下さい
                </div>    
            </td>
            <td>
                <input type="number" formControlName="overAge">以上<br>
                <input type="number" formControlName="underAge">以下
            </td>
            <td>
                <input type="radio" value="大学院" formControlName="finalEducation">大学院
                <input type="radio" value="大学" formControlName="finalEducation">大学
                <input type="radio" value="高専" formControlName="finalEducation">高専
                <input type="radio" value="高校" formControlName="finalEducation">高校
            </td>
        </tr>
        <tr>
            <th>
                入社年月日（年月日もしくは年のみ）
            </th>
            <th>
                入社歴（年単位）
            </th>
            <th>
                従業員ID
            </th>
        </tr>
        <tr>
            <td>
                <input type="number" formControlName="joinYear">年<br>
                <input type="number" formControlName="joinMonth">月<br>
                <input type="number" formControlName="joinDate">日
            </td>
            <td>
                <input type="number" formControlName="seniority">
            </td>
            <td>
                <input type="text" formControlName="employeeId">
            </td>
        </tr>
    </table>
    <input type="submit" value='検索' [disabled]="searchForm.invalid">    
</form>

<h2>検索結果</h2>
<table>
    <tr>
        <th>
            従業員ID
        </th>
        <th>
            名前
        </th>
        <th>
            入社年月日
        </th>
    </tr>
    <tr *ngFor="let emp of getEmpList()">
        <td>
            <a routerLink="/emp-detail" (click)='onEmployeeId(emp.id)'>{{emp.id}}</a>
        </td>
        <td>
            {{emp.name}}
        </td>
        <td>
            {{emp.date}}
        </td>
    </tr>
</table>